header{
    background-color: blue;
    padding: 2rem;
    text-align: center;
    color:white;
    font-size: x-large;
}
main{
    display: grid;
    
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

nav a{
    color: white;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
